<h1>This is the secret page..</h1>

<img src="https://s-media-cache-ak0.pinimg.com/originals/4f/65/de/4f65dea50ea8cd30a7f98698d843091d.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/login">Log In</a></li>