<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === 'rusty') { %>
    <p>GOOD CHOICE! RUSTY ROCKS</p>
<% } else { %>
<p>Disappointing, Rusty is the best.</p>
<% } %>




<p>PS, this is the love.ejs file</p>

<% include partials/header %>